<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>점치고 고객센터</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      * {font-family: 'Jua', sans-serif;}
    </style>
</head>
<body>
  <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary btn-lg btn-block">Q & A</button>
      <button type="button" class="btn btn-primary btn-lg btn-block">오역 오염 문제</button>
      <button type="button" class="btn btn-primary btn-lg btn-block">추천문구 오류 문제</button>

  </div>
</body>
</html>